[Unit]
Description=web.service UNIT FILE
Requires=appnet.service
PartOf=appnet.service
After=appnet.service
StartLimitIntervalSec=30
StartLimitBurst=5

[Service]
Type=simple
ExecStart=podman run --name web docker.io/library/alpine:latest
ExecStop=podman stop web
ExecStopPost=podman rm web
RestartSec=2
Restart=on-failure

