[Unit]
Description=c.service UNIT FILE
Requires=p.service
After=p.service
StartLimitIntervalSec=30
StartLimitBurst=5

[Service]
ExecStart=/usr/bin/c
RestartSec=2
Restart=on-failure

