[Unit]
Description=b.service UNIT FILE
Requires=c.service
Before=a.service
After=c.service

[Service]
ExecStart=/usr/bin/b

[Install]
RequiredBy=a.service

