[Unit]
Description=p1.service UNIT FILE

[Service]
Type=simple
ExecStart=podman run --name p1 docker.io/library/alpine:latest
ExecStop=podman stop p1
ExecStopPost=podman rm p1

