[Unit]
Description=a.service UNIT FILE
Requires=b.service c.service
Before=g1.target
After=b.service c.service

[Service]
ExecStart=/usr/bin/a

[Install]
RequiredBy=g1.target

