[Unit]
Description=c.service UNIT FILE
Requires=d.service
Before=a.service g1.target
After=d.service

[Service]
ExecStart=/usr/bin/c

[Install]
RequiredBy=a.service g1.target

