[Unit]
Description=d.service UNIT FILE
Requires=e.service
Before=b.service c.service g2.target
After=e.service

[Service]
ExecStart=/usr/bin/d

[Install]
RequiredBy=b.service c.service g2.target

