[Unit]
Description=appnet.service UNIT FILE
Requires=web.service
After=web.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=podman network create --ignore appnet
ExecStop=podman network rm appnet

