[Unit]
Description=basenet.service UNIT FILE
Before=appnet.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=podman network create --ignore basenet
ExecStop=podman network rm basenet

[Install]
RequiredBy=appnet.service

