[Unit]
Description=web.service UNIT FILE
Before=appnet.service

[Service]
Type=simple
ExecStart=podman run --name web docker.io/library/alpine:latest
ExecStop=podman stop web
ExecStopPost=podman rm web

[Install]
RequiredBy=appnet.service

