[Unit]
Description=appnet.service UNIT FILE
StartLimitIntervalSec=30
StartLimitBurst=5

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=podman network create --ignore appnet
ExecStop=podman network rm appnet
RestartSec=2
Restart=on-failure

