[Unit]
Description=a.service UNIT FILE
Requires=b.service
After=b.service

[Service]
Type=simple
ExecStart=podman run --name a docker.io/library/alpine:latest
ExecStop=podman stop a
ExecStopPost=podman rm a

