[Unit]
Description=c.service UNIT FILE
Before=b.service

[Service]
Type=simple
ExecStart=podman run --name c docker.io/library/alpine:latest
ExecStop=podman stop c
ExecStopPost=podman rm c

[Install]
RequiredBy=b.service

