[Unit]
Description=svc.service UNIT FILE
Requires=p.service
After=p.service
StartLimitIntervalSec=30
StartLimitBurst=5

[Service]
Type=simple
ExecStart=podman run --name svc docker.io/library/alpine:latest
ExecStop=podman stop svc
ExecStopPost=podman rm svc
RestartSec=2
Restart=on-failure

