RESULTS_FOLDER=./Results/
UNIT_FILE_STAGING_DIRECTORY=./Results/unit_files/
UNIT_FILE_DESTINATION=~/.config/systemd/user/
VENV_DIRECTORY=./venv/
INPUT_FILE=./src/input.yaml
LAUNCHER_SCRIPT=./src/UnitGenerator/UnitGenerator.py
MANIFEST_FILE=./Results/tmp/manifest.ini
OPERATION_MODE=basic
LOG_DIRECTORY=./logs/
FailureBehaviorDefault=Abort
DependencyBehaviorDefault=Ignore
